<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% trans %}GNUKhata | Invoice{% endtrans %}</title>
  <style media="screen">
  .nopadding {
    padding: 0 !important;
    margin: 0 !important;
  }

  .fixed-table td {
      font-size: 75%;
      padding: 4 !important;
      margin: 4 !important;
    }
  .fixed-table th {
      font-size: 85%;
  }

  .fixed-tablepurchase tbody {
      display:block;
      height: calc(100vh - 35.5em);
      min-height: 160px;
      overflow-y:scroll;
  }

  .fixed-tablesale tbody {
      display:block;
      height: calc(100vh - 35.5em);
      min-height: 140px;
      overflow-y:scroll;
  }


  .viewfixed-tablepurchase tbody {
      display:block;
      height: calc(100vh - 28.5em);
      min-height: 160px;
      overflow-y:scroll;
  }

  .viewfixed-tablesale tbody {
      display:block;
      height: calc(100vh - 33em);
      min-height: 140px;
      overflow-y:scroll;
  }


  .fixed-table thead ,.fixed-table tbody tr,.fixed-table tfoot tr {
      display:table;
      width:100%;
      table-layout:fixed;
  }
  .fixed-table thead {
      width: calc( 100% - 0.75em );
  }

  .fixed-table tfoot {
    display:block;
    width: calc( 100% - 0.75em );
  }


  </style>
</head>
<body>
  <div id="listdiv" class="container-fluid row" >
    <ul class="nav nav-pills nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="" id="invoice_record" role="tab" data-toggle="tab" accesskey="1">{% trans %} Record Purchase Invoice{% endtrans %}</a></li>
      <li role="presentation" ><a href="" id="invoice_create" role="tab" data-toggle="tab" accesskey="2">{% trans %} Create Sale Invoice{% endtrans %}</a></li>
      <li role="presentation" ><a href="" id="invoice_view_purchase" role="tab" data-toggle="tab" accesskey="3">{% trans %}Edit Purchase Invoice{% endtrans %}</a></li>
      <li role="presentation" ><a href="" id="invoice_view_sale" role="tab" data-toggle="tab" accesskey="4">{% trans %}Edit Sale Invoice{% endtrans %}</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="invoice_div">

      </div>
      <input id="selectedcustsup" type="hidden">
    </div>
  </div>
  <div id="viewinvdiv" hidden>
    <div class="panel editblank">
      <div class="panel-body editblank">
	<div id="invload">
	  
	</div>
	<div id="printload">
	  
	</div>
      </div>
    </div>
    <div class="col-sm-3 col-sm-offset-4" id="buttondiv">
      <button type="button" class="btn btn-sm btn-danger pull-right" id="backbutton" accesskey="k" style="margin-left:10px;"><i class="fa fa-arrow-left" style="margin-right:5px;" aria-hidden="true"></i>{% trans %}Bac<u>k</u>{% endtrans %}</button>
      <button id="editbutton" class="btn btn-info btn-sm pull-right" accesskey="e" style="margin-left:10px;"><i class="fa fa-pencil-square-o" aria-hidden="true" style="margin-right:5px;"></i> {% trans %}<u>E</u>dit{% endtrans %}</button>
      <button type="button" class="btn btn-sm btn-primary pull-right" id="printbutton" accesskey="t"><i class="fa fa-print" aria-hidden="true" style="margin-right:5px;"></i>{% trans %}Prin<u>t</u>{% endtrans %}</button>
    </div>
  </div>

  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/invoice.js')}}"></script>
</body>
</html>
