<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% trans %}GNUKhata{% endtrans %} | {{projectname}} {% trans %}Statement{% endtrans %}</title>
  <style type="text/css">
  .shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }
  #prjsttable td {
      font-size: 75%;
      padding: 4 !important;
      margin: 4 !important;
  }
  #prjsttable th {
      font-size: 85%;
  }

  .card-view .title {
      font-weight: bold;
      display: inline-block;
      min-width: 30%;
      text-align: left !important;
  }
  #prjsttable tbody {
      display:block;
      height: calc(68vh);
      overflow-y:scroll;
  }
  #prjsttable thead,#prjsttable tbody tr {
      display:table;
      width:100%;
      table-layout:fixed;
  }
  #prjsttable thead {
      width: calc( 99.1% )
  }
  .ralign{
		text-align:right;

	}
	.cred{
		color:red;
	}
	.calign{
		text-align:center;
	}
  .row{
    margin-top: 5px;
  }

  </style>
</head>
<body>
  <input type="hidden" id="calculateto" name="calculateto" value="{{to}}"></input>
  <input type="hidden" id="projectcode" name="projectcode" value="{{projectcode}}"></input>
  <input type="hidden" id="projectname" name="projectname" value="{{projectname}}"></input>
  <div class="col-xs-10 nopadding">
  <span class="pull-right" style="padding-right:15px"><i>{% trans %}Period{% endtrans %}</i> : <b>{{from}}</b> {% trans %}to{% endtrans %} <b>{{to}}</b></span>
  <span style="margin-left:50%; display:table;"><i>{% trans %}Statement for{% endtrans %}</i> : <b>{{projectname}}</b></span>
  </div>
  <div class="float-right input-group input-group-sm" style="margin-bottom:2px;">
    <span class="input-group-addon glyphicon glyphicon-search" id="reportsearchspan">
    </span>
    <input id="reportsearch" class="form-control" type="text" accesskey="s" placeholder="{% trans %}Quick Search{% endtrans %}"/>
    <span class="input-group-addon glyphicon glyphicon-arrow-left" id="reportclearsearchspan" style="display:none;">
    </span>
  </div>
  <div class="row">
    <table id="prjsttable" class="table shadow table-bordered">
      <thead class="bg-primary">
        <tr>
          <th class="col-xs-1">{% trans %}Sr. No.{% endtrans %}</th>
          <th class="col-xs-7">{% trans %}Account{% endtrans %}</th>
          <th class="col-xs-2">{% trans %}Group{% endtrans %}</th>
          <th class="col-xs-1 ralign">{% trans %}Outgoings{% endtrans %}</th>
          <th class="col-xs-1 ralign">{% trans %}Incomings{% endtrans %}</th>
        </tr>
      </thead>
      <tbody>
        {% for record in records %}
        <tr data-value="{{record['accountcode']}}">
          <td class="col-xs-1">
            {{record['srno']}}
          </td>
          {% if record['accountname']=="" %}
          <td class="col-xs-7">
            <a class="prjstaccs" href="">&nbsp</a>
          </td>
          {% else %}
          <td class="col-xs-7">
            <a class="prjstaccs" href="">{{record['accountname']}}</a>
          </td>
          {% endif %}
          <td class="col-xs-2">
            {{record["groupname"]}}
          </td>
          <td class="col-xs-1 ralign">
            {{record["totalout"]}}
          </td>
          <td class="col-xs-1 ralign">
            {{record["totalin"]}}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <span style="margin:auto; display:table;">
      <button class="btn btn-sm btn-danger" type="button" id="prjstback" accesskey="k"><i class="fa fa-arrow-left" aria-hidden="true"></i> {% trans %}Bac<u>k</u>{% endtrans %}</button>
      <button class="btn btn-sm btn-primary" type="button"  id="print" accesskey="x"><i class="fa fa-file-excel-o" aria-hidden="true"></i> {% trans %}E<u>x</u>port to Spreadsheet{% endtrans %}</u></button>
      <button class="btn btn-sm btn-info" type="button"  id="printprjstatement" accesskey="t"><i class="fa fa-print" aria-hidden="true"></i> {% trans %}View Prin<u>t</u>able Version{% endtrans %}</button>
    </span>
  </div>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/bootstrap-table.js')}}"></script>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/projectstatementreport.js')}}"></script>
</body>
</html>
